.profileAvatar{
    margin: 10px 0 15px 0;
    display: flex;
}
.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;     
}

.Input{
    height: 100%;
}
.btnSave{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.btnSave input {
    max-width: 100px;
}