body{
    background: #215a9f;
}
label, span{
    font-weight: 600 !important;
    font-size: 18px;
}
input[type='date']{
    height: 44px !important;
}
.Firstname, .Lastname,
.JobResume, .AvatarResume,
.EmailResume, .NumberResume{
    flex-basis: 50%;
}
.Firstname,
.JobResume,
.EmailResume,
.CountryResume,
.Address,
.PlaceBirth{
    margin-right: 40px;
}
@media (max-width: 570px){
    .Firstname, .Lastname,
    .JobResume, .AvatarResume,
    .EmailResume, .NumberResume,
    .CountryResume, .CityResume,
    .Address, .Nationality,
    .PlaceBirth, .DateBirth {
        margin-right: 0px;
        margin-bottom: 10px;
        flex: 0 0 100%;
    }
    .nameResume, 
    .JobAvatar, 
    .ContactInfoResume,
    .AddessResume,
    .BirthReusme {
        flex-direction: column;
    }
    .Firstname,
    .JobResume,
    .EmailResume,
    .CountryResume,
    .Address,
    .PlaceBirth {
        margin-right: 0;
    }
}
.nameResume,
.JobAvatar,
.ContactInfoResume,
.AddessResume,
.BirthReusme{
    justify-content: space-between !important;
}
.JobAvatar, .nameResume,.ContactInfoResume, 
.AddessResume, .BirthReusme,
.avatarSetting > div,.personalAdditionToggel,.AvatarResume,.EmpoymentDate{
    display: flex !important;
}

.add{
    display: flex !important;
    align-items: center;
}

.EmpoymentDate> img{
    flex:4;
}
.avatarSetting{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: column nowrap;
    margin-left: 0;
}
.avatarSetting > div:first-child{
    margin-bottom: 10px;
}
.avatarSetting > div >img,.addEmployment > img{
    margin-right:10px;
}
.personalAdditionToggel{
    margin: 15px 0px;
}
.TitleArticle{
    margin-bottom: 12px;
}
.personalAdditionToggel > img{
    margin-left: 10px;
}
.avatar{
    max-width: 130px;
}
.add{
    margin-top: 5px;
    margin-top: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 15px 15px;
}
.add > img{
    margin-right: 15px;
}
.add:hover{
    background-color: #d3e7ff;
}

@media (max-width: 570px){
    .AvatarResume{
        flex-direction: column;
    }
    .avatarSetting{
        margin-top: 10px !important;
    }
}
