label, span{
    font-weight: 600 !important;
    font-size: 18px;
}
input[type='date']{
    height: 44px !important;
}
.Firstname, .Lastname,
.JobResume, .AvatarResume,
.EmailResume, .NumberResume{
    flex-basis: 50%;
}
.Firstname,
.JobResume,
.EmailResume,
.CountryResume,
.Address,
.PlaceBirth{
    margin-right: 40px;
}
@media (max-width: 570px){
    .Firstname, .Lastname,
    .JobResume, .AvatarResume,
    .EmailResume, .NumberResume,
    .CountryResume, .CityResume,
    .Address, .Nationality,
    .PlaceBirth, .DateBirth {
        margin-right: 0px;
        margin-bottom: 10px;
        flex: 0 0 100%;
    }
    .nameResume, 
    .JobAvatar, 
    .ContactInfoResume,
    .AddessResume,
    .BirthReusme {
        flex-direction: column;
    }
    .Firstname,
    .JobResume,
    .EmailResume,
    .CountryResume,
    .Address,
    .PlaceBirth {
        margin-right: 0;
    }
}
.nameResume,
.JobAvatar,
.ContactInfoResume,
.AddessResume,
.BirthReusme{
    justify-content: space-between !important;
}
.JobAvatar, .nameResume,.ContactInfoResume, 
.AddessResume, .BirthReusme,
.avatarSetting > div,.personalAdditionToggel,.AvatarResume,.EmpoymentDate{
    display: flex !important;
}

.add{
    display: flex !important;
    align-items: center;
}

.EmpoymentDate> img{
    flex:4;
}
.avatarSetting{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: column nowrap;
}
.avatarSetting > div >img,.addEmployment > img{
    margin-right:10px;
}
.personalAdditionToggel{
    margin: 15px 0px;
}
.TitleArticle{
    margin-bottom: 12px;
}
.personalAdditionToggel > img{
    margin-left: 10px;
}
.avatar{
    max-width: 130px;
}
.avatarSetting > div:first-child:hover,
.avatarSetting > div:last-child:hover,
.add{
    margin-top: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 15px 15px;
}
.personalAdditionToggel{
    border-radius: 15px 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.add > img{
    margin-right: 15px;
}
.avatarSetting > div:first-child:hover,
.avatarSetting > div:last-child:hover,
.personalAdditionToggel:hover,
.add:hover{
    background-color: #d3e7ff;
}

@media (max-width: 570px){
    .AvatarResume{
        flex-direction: column;
    }
    .avatarSetting{
        margin-top: 10px !important;
    }
}
.Input{
    height: 100%;
}
.btnSave{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.btnSave input {
    margin-left: 10px;
    max-width: 100px;
}
.btnSave input {
    font-size: 20px !important;
    font-weight: 500 !important;
}
textarea{
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.containerItem > div{
    margin-bottom: 10px;
}
.containerItem > div:last-child{    
    margin-bottom: 10px;
}